@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Viewer Login";
}
@section Styles {
<style>

    form {
        border: 3px solid #FFC938;
        text-align: center;
    }

    input[type=text] {
        width: 100%;
        margin: 8px 0;
        padding: 12px 20px;
        display: inline-block;
        text-align: center;
    }

    .container {
        width: 80%;
        padding: 10px;
    }
</style>
}
<center>
    <h1>TableIT Connect</h1>
    <form>
        <div class="container">
            <label>Enter the table ID to connect to:</label>
            <input type="text" placeholder="Table ID" name="tableid" required />
            <button type="submit">Connect</button>
        </div>
    </form>
</center>

@section Scripts {

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>

<script type="text/javascript">
    $(function() {
      $('form').submit(function(){
          var id = $('tableid').value;
          window.location = "http://localhost:7071/api/viewer/" + id;
        return false;
      });
    });
</script>
}