@*Based on https://stackoverflow.com/questions/59518988/disable-layout-for-page-under-blazor*@
@inherits LayoutComponentBase

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>